app.namespace=https://jpa03-zwang1680.herokuapp.com
app.admin.emails=zion@ucsb.edu

auth0.domain=ucsb-cs156-zion.us.auth0.com
auth0.clientId=xV5yH5LKBzHO6iefM6MImLL0oovFOfq2

security.oauth2.resource.id=https://jpa03-zwang1680.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
